.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    height: 7%;
    z-index: 10;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  
    background-color: var(--cg-purple);
    color: var(--cg-black);
    padding: 0px 0px;
  
    /* Debug border */
    /* border: solid red; */
}
  
.nav-list {
    display: flex;
    flex-direction: row;
    position: relative;
    right: 30px;
    list-style: none;
  
    /* Debug border */
    /* border: solid blue; */
}
  
.navbar a {
    color: var(--cg-black);
    font-weight: bold;
    margin: 0 12px;
    text-decoration: none;
    letter-spacing: 2px;
  
    font-family: monospace;
}
  
.navbar a:hover {
    color: var(--cg-pink);
    text-decoration: underline;
}
  
.navbar a:active {
    color: var(--cg-pink);
}

.logo a {
    font-family: Georgia;
}
  
.logo a:hover {
    text-decoration: None;
}
